.schedule .btn {
  background-color: white;
  border: 2px solid #4DA3EE;
  color: #4DA3EE;
}

.schedule .btn:hover {
  background-color: #4DA3EE;
  color: white;
}

.schedule .btn-active {
  background-color: #4DA3EE;
  color: white;
}
